@import "./components/global.css";
@import "./components/header.css";
@import "./components/footer.css";


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

section.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    /* background: url(../img/hero-bg.png) top center no-repeat; */
    background-size: cover;
    min-height: 100vh;

}

section.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: var(--color-white);
}

section.hero h2 {
    color: var(--color-white);
    margin: 15px 0 0 0;
    font-size: 26px;
    font-weight: 400;
}

section.hero h2 span {
    color: var(--color-pink);
}

section.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    transition: 0.5s;
    color: var(--color-black);
    background: var(--color-pink);
    box-shadow: 0px 5px 30px rgba(var(--color-pink), 0.4);
}

section.hero .btn-get-started span {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

section.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

section.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

section.hero .btn-get-started:last-of-type {
    background-color: transparent;
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
}

section.hero .hero-img {
    text-align: right;
}


/* About Us Section */



/* How to Use Section */
section#flow {
    background-color: var(--color-black);
}

section#flow .horizontal-timeline .items {
    border-top: 3px solid #e9ecef;
}

section#flow .horizontal-timeline .items .items-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}

section#flow .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 2rem;
}

section#flow .horizontal-timeline .items .items-list .event-date {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    font-size: 0.9rem;
}

/* Contact Us Section */
section#contact button {
    background-color: var(--color-pink);
    color: var(--color-white);
}

section#contact button:focus {
    background-color: var(--color-pink);
    color: var(--color-white);
    outline:  2px solid var(--color-pink);
    outline-offset: 1px;
}


@media (min-width: 1024px) {
    section.hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    section.hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
    section.hero .hero-img {
        text-align: center;
        margin-top: 80px;
    }
    section.hero .hero-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    section.hero {
        text-align: center;
    }
    section.hero h1 {
        font-size: 32px;
    }
    section.hero h2 {
        font-size: 24px;
    }
    section.hero .hero-img img {
        width: 100%;
    }
}


@media (min-width: 1140px) {
    section#flow .horizontal-timeline .items {
        display: flex;
        justify-content: space-between;
    }

    section#flow .horizontal-timeline .items .items-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }

    section#flow .horizontal-timeline .items .items-list:before {
        top: 0;
    }
    
    section#flow .horizontal-timeline .items .items-list .event-date {
        top: -3.5rem;
    }
}